@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    rmsoft<br />
    Espoo, Finland<br />
    <abbr title="Phone">Phone:</abbr>
    +358 50 596 1606
</address>

<address>
    <strong>mailto:</strong> <a href="mailto:raivo.mosona@gmail.com">raivo.mosona@gmail.com</a><br />
</address>
